<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href="#") 
				h1 Your Logo
				p.mt-3.ml-3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
			//- Đây là nút sẽ hiển thị trong mobile
			

				//- Thuộc tính '.ml-auto' này sẽ đẩy me nu về bên phải 
		.row
			ul
				li.mt-3
					a(href="#") Home
				li.mt-3
					a(href="#") About
				li.mt-3
					a(href="#") Services
				li.mt-3
					a(href="#") Contact US
				
	
<!-- ////////////// HEADER ////////////// -->
